body {}

sup {
  vertical-align: super;
  font-size: smaller;
}

#jupiter {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#jupiter td, #jupiter th {
  border: 1px solid #ddd;
  padding: 8px;
}

#jupiter tr:nth-child(even){background-color: #f2f2f2;}

#jupiter tr:hover {background-image: url("https://ichef.bbci.co.uk/news/320/cpsprodpb/850F/production/_106136043_body.jpg");
  color: yellow;}

#jupiter th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
